  <nav>
      <ul>
        <li><span>{{ .Site.Title }}</span></li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/{{.Site.Params.github}}"><i class="fab fa-github"></i></a>
        </li>
      </ul>
  </nav>
    <p>&copy; Text <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons-by"></i> CC-BY</a> and Code <a rel="license" href="https://opensource.org/licenses/MIT">MIT</a> unless otherwise specified.</p>
 